.semi-circle {
  position: absolute;
  width: 45px; 
  height: 90px;

  background:url(./img.jpg);

  border-radius: 4px 45px 45px 4px;
// padding: 25px;

transition: transform 0.3s ease-in-out;


}

.semi-circle:hover {
  transform: rotate(180deg); 
}
